<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="database_project.Properties.Settings.fr_marcousConnectionString"
            connectionString="Data Source=DESKTOP-OPHR8RM;Initial Catalog=&quot;fr marcous&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="database_project.Properties.Settings.FRMORCOUSConnectionString"
            connectionString="Data Source=DESKTOP-OPHR8RM;Initial Catalog=FRMORCOUS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>